# Ignore CSV files
*.csv
#ignore .Rdata files
*.Rdata
*.Rda
*.rda
*.rdata
#ignore DCF files 
*.dcf
# ignore excel files
*.xls

# ingore ff files
*.ff

# Ignore log directories or files
log/
*.log
log.txt
